
*.dat

*.d

*.o

*.dia

*.hmap

*.LinkFileList

*.dep

*.plist

*.xcindexdb

*.xcindexdb-shm

*.xcindexdb-wal

*.strings-cmp

*.strings-dir

*.strings-file

*.strings-res

*.strings-sym

*.xcactivitylog

*.db

*.idx

*.pbxproj

*.xcworkspacedata

*.xccheckout

*.xcuserstate

*.xcexplist

*.xcbkptlist

*.xcscheme
